
#btn
{
    margin-left:0;
}
#DivTwo
{
    margin-left: 90%;
    margin-top:auto;
}
.form-group
{
    width:20%;
}
#msg
{
    margin-left:5%;
    font-size:large;
    color: darkgreen;
 }
 .loader{
    height:100vh;
    width:100vw;
    overflow:hidden;
    background-color:#bdc3c7;
    position:absolute;
}
.loader>div{
    height:100px;
    width:100px;
    border:10px solid white;
    border-top-color:#2a88e6;
    position:absolute;
    /* margin:auto; */
    top:300;
    bottom:500;
    left:600;
    right:100;
    border-radius:50%;
    animation:spin 1.5s infinite linear;
}
@keyframes spin{
    100%{
        transform:rotate(360deg);
    }
}
.content{
    width:100px;
}